
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i>All Patients</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Patient information</h2>
            <span class="text-light">Use the below form to update a record</span>
        </div>

        <!-- add user form -->
         <!-- form handling -->
 <form method="POST" id="update_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Age</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="Age" value="<%= user.Age %>" placeholder="21">
        </div>
        <!-- <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="<%= user.email%>" placeholder="example@gmail.com">
        </div> -->
        <div class="form-group">
            <label for="Sex" class="text-light">Sex</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="Sex" value="M" <%= user.Sex == 'M' ? 'checked' : '' %>>
                <label for="radio-2" class="radio-label">M</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="Sex" value="F"  <%= user.Sex == 'F' ? 'checked' : '' %> >
                <label for="radio-3" class="radio-label">F</label>
            </div>
        </div>
        <!-- <div class="form-group">
            <label for="age" class="text-light">Age</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="age" value="0" placeholder="0">
        </div> -->
        <div class="form-group">
            <label for="ChestPainType" class="text-light">ChestPainType</label>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="ChestPainType" value="ATA" <%= user.ChestPainType == 'ATA' ? 'checked' : '' %>>
                <label for="radio-5" class="radio-label">ATA</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-6" name="ChestPainType" value="NAP"  <%= user.ChestPainType == 'NAP' ? 'checked' : '' %> >
                <label for="radio-6" class="radio-label">NAP</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-7" name="ChestPainType" value="AYS"  <%= user.ChestPainType == 'AYS' ? 'checked' : '' %> >
                <label for="radio-7" class="radio-label">AYS</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-8" name="ChestPainType" value="TA"  <%= user.ChestPainType == 'TA' ? 'checked' : '' %> >
                <label for="radio-7" class="radio-label">TA</label>
            </div>
        </div>
        <div class="form-group">
            <label for="RestingBP" class="text-light">RestingBP</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="RestingBP" value="<%= user.RestingBP %>" placeholder="<%= user.RestingBP %>">
        </div>
        <div class="form-group">
            <label for="Cholesterol" class="text-light">Cholesterol</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="Cholesterol" value="<%= user.Cholesterol %>" placeholder="<%= user.Cholesterol %>">
        </div>
        <div class="form-group">
            <label for="FastingBS" class="text-light">FastingBS</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="FastingBS" value="<%= user.FastingBS %>" placeholder="<%= user.FastingBS %>">
        </div>
        <div class="form-group">
            <label for="RestingECG" class="text-light">RestingECG</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="RestingECG" value="<%= user.RestingECG %>" placeholder="<%= user.RestingECG %>">
        </div>
        <div class="form-group">
            <label for="MaxHR" class="text-light">MaxHR</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="MaxHR" value="<%= user.MaxHR %>" placeholder="<%= user.MaxHR %>">
        </div>
        <div class="form-group">
            <label for="ExerciseAngina" class="text-light">ExerciseAngina</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="ExerciseAngina" value="<%= user.ExerciseAngina %>" placeholder="<%= user.ExerciseAngina %>">
        </div>
        <div class="form-group">
            <label for="Oldpeak" class="text-light">Oldpeak</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="Oldpeak" value="<%= user.Oldpeak %>" placeholder="<%= user.Oldpeak %>">
        </div>
        <div class="form-group">
            <label for="ST_Slope" class="text-light">ST_Slope</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="ST_Slope" value="<%= user.ST_Slope %>" placeholder="<%= user.ST_Slope %>">
        </div>
        <div class="form-group">
            <label for="HeartDisease" class="text-light">HeartDisease</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="HeartDisease" value="<%= user.HeartDisease %>" placeholder="<%= user.HeartDisease %>">
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
